@import "../../../../style/helper_styles/colors";
@import "../../../../style//helper_styles//breakpoints";

.login-form-wrapper {
  height: 88%;
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  background-color: $form_background;
  border: 2px solid $primary;
  border-radius: 1em;
  padding: 1.5em 2.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $base_text;
  }

  input {
    color: $base_text;
  }

  label {
    color: $base_text;
  }

  fieldset {
    border-color: $primary;
  }

  button {
    font-size: 1.2rem;
  }
}

.login-form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-submit {
  width: 100%;
}

@media (max-width: $medium_bp) {
  .login-form-wrapper {
    width: 90%;
    height: 80%;
  }
}

@media (max-width: $small_bp) {
  .login-form-wrapper {
    height: 80%;
  }
}
