@import "./helper_styles/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2f303a;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f303a;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #23242b inset;
  box-shadow: 0 0 0px 1000px #23242b inset;
  -webkit-text-fill-color: $base_text;
  transition: background-color 5000s ease-in-out 0s;
}

#root {
  height: 100%;
}

.main-wrapper {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: $base_text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $base_text;
}
