@import "../../../../style/helper_styles/breakpoints";

.join-us-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // background: #000;

  button {
    font-size: 1.5rem;
    padding: 0.5em 1.2em;
    border-radius: 1.5em;
    margin: 2em 0.5em;
  }
}

@media (max-width: $large_bp) {
  .join-us-wrapper button {
    font-size: 1.3rem;
    margin: 2.5em 0.5em;
  }
}

@media (max-width: $medium_bp) {
  .join-us-wrapper {
    flex-direction: column;
    margin-top: 2em;

    button {
      margin: 0.6em;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: $small_bp) {
  .join-us-wrapper {
    button {
      font-size: 1.2rem;
    }
  }
}
