@import "../../../../style/helper_styles/colors";
@import "../../../../style/helper_styles/breakpoints";

.banner-wrapper {
  color: $base_text;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.banner-app-name {
  // background: red;
  height: 100%;
}

.banner-title {
  font-size: 6.5rem;
  font-weight: 400;
}

.banner-subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  padding-left: 0.1em;
}

.banner-logo-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

@media (max-width: $large_bp) {
  .banner-title {
    font-size: 6rem;
  }
}

@media (max-width: $medium_bp) {
  .banner-app-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-title {
    font-size: 5.5rem;
  }
}

@media (max-width: $medium_bp) {
  .banner-app-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner-title {
    font-size: 5rem;
  }
}
