@import "../../../../style/helper_styles/breakpoints";
@import "../../../../style/helper_styles/colors";

.upload-container {
  padding: 2.5em 4em;
  margin: 0.5em;
}

#upload_label input {
  height: 0;
  width: 0;
  opacity: 0;
}
#upload_label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid $primary;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: $primary;
  background-color: $form_background;
  font-weight: bold;
  font-size: 24px;
}
#upload_label span {
  display: block;
  font-size: 2rem;
}
#upload_label:hover {
  background: $base_text;
  color: $primary;
  cursor: pointer;
}

#upload-pic-text {
  text-align: center;
}

.upload-container-img {
  margin: 0 auto;
}

.profile-pic-container {
  width: 100%;
  height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 80%;
  min-width: 120px;
  height: 220px;
  object-fit: cover;
}

.progress-wrapper {
  width: 80%;
  margin: 0 auto;
  // display: flex;
  // align-items: flex-start;
}

.progress-bar {
  height: 5px;
  border-radius: 10px;
  background-color: $primary;
  margin-top: 0.5em;
}
